@value colors: "../../../App.css";
@value dar-gray, gray, black from colors;


.Jobs{
  width: 100%;
  background: black;
  padding: 80px 20px;
  .content{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    .my_jobs{
      flex: 0.2 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
    .wrapper_item{
      flex: 2 1 auto;
      background: aliceblue;
      display: flex;
      justify-content: space-between;
      background: gray;
    }
  }
}

.container{
  composes: container from "../Header/Header.module.scss";
}
@media (min-width: 360px) and (max-width: 600px){
  .Jobs{
    padding: 10px 0 20px 0;
    .content{
      min-height: 200px;
      width: 100%;
      .my_jobs{
        flex: 0;
        padding: 0 0 10px 0;

      }
      .wrapper_item{
        flex-direction: column;
        min-height: 70vh;
        align-items: center;
      }
    }
  }
}