@value colors: "../../../../App.css";
@value dar-gray, gray, black from colors;


.wrapper{
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  margin-left: 10px;
min-width: 300px;
  color: #fff;
  overflow: fragments;
  .image{
    min-height: 250px;
  }

  .description{
    flex: 1 1 auto;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 14px;
    .title{
      padding: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      letter-spacing: 1px;

    }
    .desk{
      padding: 5px;
    }
  }
}
@media (min-width: 360px) and (max-width: 600px){
  .wrapper{
    min-height: 50vh;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    height: auto;
    .description{
      flex: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 5px;
    }
  }
}
.image{
  flex: 3 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
  z-index:60;
  transition: 0.5s all ease-in-out;
  &:hover {

    transform: scale(1.1, 1.1);
  }


}