.btn {

	width: 120px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	background: #282c34;
	&:hover{
		opacity: .7;
	}
}


.jobs_btn {
	opacity: 0;
	transition: opacity .3s ease-in-out;
	&:hover{
		opacity: .8;
	}
}