.Jobs{
  width: 100%;
  background: burlywood;
  padding: 80px 0;
  .content{
    display: flex;
    flex-direction: column;
    height: 600px;
    .my_jobs{
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
    }
    .wrapper_item{
      flex: 2 1 auto;
      background: aliceblue;
      display: flex;
      justify-content: space-between;
    }
  }
}
.container{
  composes: container from "../Header/Header.module.scss";
}