.Header {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 80%;
	max-width: 300px;
	padding: 20px 10px;
	box-sizing: border-box;

	z-index: 90;
	transform: translateX(0px);
	transition: transform .22s ease-in;
	.wrapper {
		display: flex;
		flex-direction: column;
		padding: 60px 10px;
		a {
			color:white;
			font-size: 30px;
			text-decoration: none;
			position: relative;
			padding: 0 20px 10px 20px;
			transition: opacity .3s ;

		}
	}

}
.Header.close {
	transform: translateX(-300px);
}
.Header  a:hover, .active{
	opacity: .7;
}
@media screen and (max-width: 600px){
	.Header {
		width: auto;
		background: transparent;

		.wrapper{

			a{
				color: #fff;
				background-color: transparent;
				margin-top: 50px;
			}
		}
	}
}