.wrapper{
  display: flex;
  flex-direction: column;
  min-width: 40%;
  border: 1px  solid black;
  .image{
    flex: 3 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #61dafb;

  }
  .description{
    flex: 1 1 auto;
    padding: 10px 30px;
    .title{
      padding: 5px;
    }
    .desk{
      padding: 5px;
    }
  }
}
@media (min-width: 360px) and (max-width: 600px){
  .wrapper{
    min-height: 40vh;
    .description{
      flex: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 5px;
    }
  }
}